<div class="container main-container" id="container-width">
  <div class="row main-menu-category">
    <div class="btn-group menu-all-dishes" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="todayMenu()">Меню на сьогодні</button>
      <button type="button" class="btn btn-secondary" (click)="allDishes()">Всі страви</button>
      <button type="button" class="btn btn-secondary" (click)="complexMenu()">Комплексне меню</button>
    </div>
  </div>
  <div class="row" id="container-dishes" *ngIf="!isComplex">
    <div class="menu-category col-xs-3 col-sm-2">
      <ul>
        <li *ngFor="let type of filterProp">
          <label class="filter-cb-container">{{type.displayName}}
            <input type="checkbox" checked="checked" (change)="addType(type)" [(ngModel)]="type.isChecked" id="{{type.name}}" name="{{type.name}}" value="{{type.name}}">
            <span class="checkmark"></span>
          </label>
        </li>
      </ul>
    </div>
    <div class="cells-dishes col-xs-9 col-sm-10">
      <app-menu-wrapper [dishes]="menu" [type]="name"></app-menu-wrapper>
    </div>
  </div>
  <div class="container" *ngIf="isComplex">
    <div class="row mb-5 " *ngFor="let comp of comle; let i = index" >
      <div class="complex-wrapper add__title text-center">{{ comp.menuName }}</div>
      <app-menu-wrapper [dishes]="comp.bussiness"></app-menu-wrapper>
        <div class="row complex-wrapper">
          <span>
            {{ comp.totalPrice*0.8 | currency:'Загальна ціна за комплекс :' }}
          </span>
          <div class="btn-container complex-wrapper">
            <button type="button" class="btn main-menu ml-2" (click)="addToShoppingCart(comle[i])">В корзину</button>
          </div>
        </div>
    </div>
  </div>
</div>
