<div class="container main-container" id="container-width">
  <div class="row d-flex justify-content-center main-menu-category">
    <div class="btn-group menu-all-dishes" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="todayMenu()">Todays menu</button>
      <button type="button" class="btn btn-secondary" (click)="allDishes()">All dishes</button>
      <button type="button" class="btn btn-secondary" (click)="complexMenu()">Complex</button>
    </div>
  </div>
  <div class="row" id="container-dishes" *ngIf="!isComplex">
    <div class="menu-category col-xs-3 col-sm-2">
      <ul>
        <li *ngFor="let type of filterProp">
          <label class="filter-cb-container">{{type.name}}
            <input type="checkbox" checked="checked" (change)="addType(type)" [(ngModel)]="type.isChecked" id="{{type.name}}" name="{{type.name}}" value="{{type.name}}">
            <span class="checkmark"></span>
          </label>
          <!-- <input type="checkbox" (change)="addType(type.isChecked ? type : type)" [(ngModel)]="type.isChecked" id="{{type.name}}" name="{{type.name}}" value="{{type.name}}"><label for="{{type}}">{{type.name}}</label> -->
        </li>
      </ul>
    </div>
    <div class="cells-dishes col-xs-9 col-sm-10">
      <app-menu-wrapper [dishes]="menu" [type]="name"></app-menu-wrapper>
    </div>
  </div>
  <div class="container" *ngIf="isComplex">
    <div class="row" *ngFor="let comp of complex" >
      <app-menu-wrapper [dishes]="comp"></app-menu-wrapper>
    </div>
  </div>
</div>
