<div class="container">
  <h1 class="main-title text-center h4 m-4">About our company</h1>
  
  <div class="article-container">
    <div class="article row m-4 pt-4" *ngFor="let article of articles">

      <div class="article-photo col-sm-12 col-lg-5 p-0 text-center">
        <img src="{{article.photo}}" alt="Foundation">
      </div>
    
      <div class="article-content col-sm-12 col-lg-7 text-center">
        <p class="article-description pt-4">{{article.description}}</p>
      </div>
  
    </div>
  </div>
</div>