// Images
$Imageheight: 16rem;

//Font-family
$FontDefault: 'Lora', serif;

//FontSize
$FontLarge: 1.5rem;

// Padding
$PaddingX3: 0 3rem;

//Opacity
$OpacityLarge: 0.7;

//Transition
$TransitionMedium: 1500ms;

// icons 
$iconMinWindth: 2rem;
$iconSize: 2rem;

//global colors
$black: #000;
$grey: #999999;
$light-blue: #f0f5f5;
$main-text-color: #34344d;
$main-text-color-red: #fa4e4b;
$pink: #ff6666;
$orange: #ffb366;
$white: #fff;
$strong-red: #ff4d4d;
$strong-orange: #ffa64d;
$peachy: #ff8c66;
$dark-orange: #ff794d;
$dark-yellow: #ffbf00;
$light-yellow: #ffcc33;
$text-color-white: #fff;

// news page
$news-img-max-width: 100%;
$news-background-color: #f8fafc;

// header
$header-bg: #f3efeb;

// footer
$footer-bg: #34344d;