// Images
$Imageheight: 16rem;

//Font-family
$FontDefault: 'Lora', serif;

//FontSize
$FontLarge: 2rem;

//Opacity
$OpacityLarge: 0.7;

//Transition
$TransitionMedium: 1500ms;

// icons 
$iconMinWindth: 2rem;
$iconSize: 2rem;

//global colors
$black: #000;
$grey: #999999;
$light-blue: #f0f5f5;
$main-text-color: #34344d;
$main-text-color-red: #fa4e4b;

// news page
$news-img-max-width: 100%;
$news-background-color: #f8fafc;