@import "./src/assets/scss/variables.scss";

$wrapper-width: 90%;
$wrapper-margin: 50px;
$basket-picture-width: 50px;
$basket-picture-height: 50px;
$main-container-cart-padding-top: 20px;
$main-container-cart-padding-bottom: 20px;
$image-container-width: 420px;
$image-container-height: 300px;
$image-container-margin-right: 20px;
$picture-height: 100%;
$picture-width: 100%;
$name-products-container-margin-left: 20px;
$name-products-container-margin-right: 20px;
$name-products-container-width: 30%;
$name-of-product-font-size: 25px;
$quantity-remove-basket-margin-left: 20px;
$subtract-quantity-height: 40px;
$subtract-quantity-width: 40px;
$border: 1px;
$subtract-quantity-font-size: 25px;
$number-of-quantity-height: 40px;
$number-of-quantity-width: 50px;
$number-of-quantity-font-size: 22px;
$add-quantity-height: 40px;
$add-quantity-width: 40px;
$add-quantity-font-size: 25px;
$remove-basket-margin-left: 20px;
$remove-basket-icon-width: 30px;
$remove-basket-icon-height: 30px;
$all-products-price-margin-top: 15px;
$all-products-price-margin-bottom: 30px;
$order-width: 100%;
$order-height: 2em;
$border-radius: 7px;
$button-font-size: 21px;
$cancel-height: 2em;
$cancel-width: 27%;
$main-menu-height: 2em;
$main-menu-width: 15%;
$log-in-height: 2em;
$log-in-width: 100%;
$empty-basket-header-font-size: 25px;
$empty-basket-header-padding: 20px;
$empty-basket-image-container-height: 400px;
$empty-basket-image-container-width: 300px;
$media-buttons-font-size: 18px;
$media-line-height: 1;
$media-buttons-margin-bottom: 15px;
$media-cancel-big-screen-width: 34%;
$media-main-menu-big-screen-width: 18%;
$media-image-container-large-screen-width: 370px;
$media-image-container-large-screen-height: 230px;
$media-image-container-middle-screen-width: 320px;
$media-image-container-middle-screen-height: 200px;
$media-image-container-middle-screen-margin: 0;
$media-name-products-container-width: 50%;
$media-basket-container-margin-top: 15px;
$media-cancel-middle-screen-width: 43%;
$media-main-menu-middle-screen-width: 25%;
$media-cancel-small-screen-width: 75%;
$media-main-menu-small-screen-width: 42%;

.wrapper {
  width: $wrapper-width;
  margin: $wrapper-margin auto;

  .basket-header {
    text-align: center;
  }

  .header-container-cart {
    .basket-picture {
      width: $basket-picture-width;
      height: $basket-picture-height;
    }
  }

  .main-container-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: $main-container-cart-padding-top;
    padding-bottom: $main-container-cart-padding-bottom;

    .image-container {
      width: $image-container-width;
      height: $image-container-height;
      margin-right: $image-container-margin-right;

      .food-picture {
        height: $picture-height;
        width: $picture-width;
        background-size: cover;
      }
    }

    .name-products-container {
      margin-left: $name-products-container-margin-left;
      margin-right: $name-products-container-margin-right;
      width: $name-products-container-width;

      .name-of-product {
        font-size: $name-of-product-font-size;
      }
    }

    .quantity-remove-basket-container {
      display: flex;
      flex-direction: row;
      margin-left: $quantity-remove-basket-margin-left;

      .quantity {
        display: flex;
        flex-direction: row;

        .subtract-quantity {
          height: $subtract-quantity-height;
          width: $subtract-quantity-width;
          border: $border solid $black;
          text-align: center;
          font-size: $subtract-quantity-font-size;
        }
        .number-of-quantity {
          border: $border solid $black;
          height: $number-of-quantity-height;
          width: $number-of-quantity-width;
          text-align: center;
          font-size: $number-of-quantity-font-size;
        }
        .add-quantity {
          border: $border solid $black;
          height: $add-quantity-height;
          width: $add-quantity-width;
          text-align: center;
          font-size: $add-quantity-font-size;
        }
      }

      .remove-basket {
        margin-left: $remove-basket-margin-left;

        .remove-basket-icon {
          width: $remove-basket-icon-width;
          height: $remove-basket-icon-height;
        }
      }
    }
  }

  .empty-basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .empty-basket-header {
      font-size: $empty-basket-header-font-size;
      padding: $empty-basket-header-padding;
    }

    .empty-basket-image-container {
      height: $empty-basket-image-container-height;
      width: $empty-basket-image-container-width;

      .empty-basket-image {
        height: $picture-height;
        width: $picture-width;
      }
    }
  }

  #all-products-price {
    text-align: center;
    margin-top: $all-products-price-margin-top;
    margin-bottom: $all-products-price-margin-bottom;
  }

  .footer-container-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .order {
      width: $order-width;
      height: $order-height;
      border-radius: $border-radius;
      box-shadow: 0 7px 30px 0 $strong-orange;
      border: none;
      color: $white;
      font-size: $button-font-size;
      background-color: $orange;

      &:hover {
        cursor: pointer;
      }
    }

    .cancel {
      height: $cancel-height;
      width: $cancel-width;
      border-radius: $border-radius;
      background-color: $pink;
      box-shadow: 0 7px 30px 0 $strong-red;
      border: none;
      color: $white;
      font-size: $button-font-size;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .main-menu {
    height: $main-menu-height;
    width: $main-menu-width;
    border-radius: $border-radius;
    background-color: $peachy;
    box-shadow: 0 7px 30px 0 $dark-orange;
    border: none;
    color: $white;
    font-size: $button-font-size;

    &:hover {
      cursor: pointer;
    }
  }

  .log-in {
    height: $log-in-height;
    width: $log-in-width;
    border-radius: $border-radius;
    background-color: $dark-yellow;
    box-shadow: 0 7px 30px 0 $light-yellow;
    border: none;
    color: $white;
    font-size: $button-font-size;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    .footer-container-cart {
      .order {
        font-size: $media-buttons-font-size;
        margin-bottom: $media-buttons-margin-bottom;
      }
      .cancel {
        line-height: $media-line-height;
        font-size: $media-buttons-font-size;
        margin-bottom: $media-buttons-margin-bottom;
        width: $media-cancel-big-screen-width;
      }

      .main-menu {
        line-height: $media-line-height;
        font-size: $media-buttons-font-size;
        margin-bottom: $media-buttons-margin-bottom;
        width: $media-main-menu-big-screen-width;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    .main-container-cart {
      .image-container {
        width: $media-image-container-large-screen-width;
        height: $media-image-container-large-screen-height;
      }
    }
    .footer-container-cart {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 790px) {
  .wrapper {
    .main-container-cart {
      flex-direction: column;

      .image-container {
        width: $media-image-container-middle-screen-width;
        height: $media-image-container-middle-screen-height;
        margin-right: $media-image-container-middle-screen-margin;
      }

      .name-products-container {
        width: $media-name-products-container-width;
        text-align: center;
      }

      .quantity-remove-basket-container {
        margin-top: $media-basket-container-margin-top;
      }
    }

    .footer-container-cart {
      .cancel {
        width: $media-cancel-middle-screen-width;
      }

      .main-menu {
        width: $media-main-menu-middle-screen-width;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    .footer-container-cart {
      .cancel {
        width: $media-cancel-small-screen-width;
      }

      .main-menu {
        width: $media-main-menu-small-screen-width;
      }
    }
  }
}
