<div class="wrapper">
  <h2 class="basket-header">Кошик</h2>
  <hr>
  <div class="main-container-cart" *ngFor="let list of products">
    <div class="image-container">
      <img src="{{ list.productImg }}" class="food-picture" alt="food picture">
    </div>
    <div class="name-products-container">
      <div class="name-of-product">{{ list.productName }}</div>
      <hr>
      <div class="price">Ціна: {{ list.productPrice }} грн</div>
      <div class="total-price">Загальна сума: {{ getProductSummary(list.productPrice, list.productQuantity) }} грн </div>
    </div>
    <div class="quantity-remove-basket-container">
      <div class="quantity">
        <div class="subtract-quantity" (click)="deleteQuantity(list.productId)">-</div>
        <div class="number-of-quantity">{{ list.productQuantity }}</div>
        <div class="add-quantity" (click)="addQuantity(list.productId)">+</div>
      </div>
      <div class="remove-basket" (click)="deleteProductFromCart(list.productId)">
        <img src="assets/pictures/delete-basket.png" class="remove-basket-icon" alt="remove cart">
      </div>
    </div>
  </div>
  <div *ngIf="products.length === 0" class="empty-basket-container">
    <h2 class="empty-basket-header">Ваш кошик порожній</h2>
    <div class="empty-basket-image-container">
      <img src="assets/pictures/empty-basket.jpg" class="empty-basket-image" alt="empty basket">
    </div>
  </div>
  <hr>
  <div *ngIf="!(products.length === 0)" class="total-price" id="all-products-price">Загальна сума: {{ totalPriceOfProducts() }} грн </div>
  <div class="contact-info">   
     <div *ngIf="!(products.length === 0)" class="address">
      <input type="text" name="address" [(ngModel)]="address" #deliveryAddress="ngModel" placeholder="Address" required />
      <div *ngIf="deliveryAddress.invalid && (deliveryAddress.dirty || deliveryAddress.touched)" class="alert alert-danger">
        <div *ngIf="deliveryAddress.errors.required">
          Address is required.
        </div>        
      </div>
     </div>
     <div *ngIf="!(products.length === 0)" class="phone">
      <input type="tel" [(ngModel)]="phone" #phoneNumber="ngModel" required placeholder="Phone" required />
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
        <div *ngIf="phoneNumber.errors.required">
          Phone is required.
        </div>        
      </div>
     </div>
  </div>
  <div class="footer-container-cart">
    <div>
      <div *ngIf="!(user.authState | async)">
        <button *ngIf="!(products.length === 0)" class="log-in" (click)="logInCart()">Увійти</button>
      </div>
      <div *ngIf="user.authState | async as authState">
        <button *ngIf="!(products.length === 0)" class="order" (click)="completeOrder()" [disabled]="phoneNumber.invalid || deliveryAddress.invalid">Замовити</button>
      </div>
    </div>
    <button *ngIf="!(products.length === 0)" class="cancel" (click)="cancelOrder()">Скасувати замовлення</button>
    <button class="main-menu" (click)="changeRouteToMenu()">На головну</button>
  </div>
</div>
