<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Wow new dish incomming!</h3>
        <form  [formGroup]="addDishForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text"
              formControlName="name"
              class="form-control"
              [(ngModel)]="dish.name"
              (change)="enableImage()"
              [ngClass]="{ 'is-invalid': addDishForm.controls.name.invalid && addDishForm.controls.name.errors }" />

            <div *ngIf="addDishForm.controls.name.invalid && addDishForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="addDishForm.controls.name.errors.required">First Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text"
              formControlName="info"
              class="form-control"
              [(ngModel)]="dish.controls"
              [ngClass]="{ 'is-invalid': addDishForm.controls.info.invalid && addDishForm.controls.info.errors }" />

            <div *ngIf="addDishForm.controls.info.invalid && addDishForm.controls.info.errors" class="invalid-feedback">
                <div *ngIf="addDishForm.controls.info.errors.required">Info is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="text"
            formControlName="price"
            class="form-control"
            [(ngModel)]="dish.price"
            [ngClass]="{ 'is-invalid': addDishForm.controls.price.invalid && addDishForm.controls.price.errors }" />

            <div *ngIf="addDishForm.controls.price.invalid && addDishForm.controls.price.errors" class="invalid-feedback">
                <div *ngIf="addDishForm.controls.price.errors.required">Price is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Weight</label>
            <input type="text"
              formControlName="weight"
              class="form-control"
              [(ngModel)]="dish.weight"
              [ngClass]="{ 'is-invalid': addDishForm.controls.name.invalid && addDishForm.controls.weight.errors }" />

            <div *ngIf="addDishForm.controls.weight.invalid && addDishForm.controls.weight.errors" class="invalid-feedback">
                <div *ngIf="addDishForm.controls.weight.errors.required">Weight is required</div>
            </div>
          </div>

          <div class="form-row align-items-center mb-3">
            <label for="todayMenu" class="mb-0">Is it for today menu</label>

            <input id="todayMenu"
              type="checkbox"
              formControlName="todaymenu"
              class="input-group-prepend"
              [(ngModel)]="dish.todaymenu"
              [ngClass]="{ 'is-invalid': addDishForm.controls.todaymenu.invalid && addDishForm.controls.todaymenu.errors }" />

          </div>

          <div class="form-row mb-3">
            <div class="d-flex align-items-center mr-2" *ngFor="let type of filterProp">
              <label for="{{type.name}}" class="mb-0">{{type.name}}</label>

              <input id="{{type.name}}"
                value="{{type.name}}"
                type="radio"
                formControlName="type"
                class="input-group-prepend"
                [(ngModel)]="dish.type"
                [ngClass]="{ 'is-invalid': addDishForm.controls.type.invalid && addDishForm.controls.type.errors }" />

            </div>

            <div *ngIf="addDishForm.controls.type.invalid !== false && addDishForm.controls.type.errors !== false" class="invalid-feedback d-block">
              <div *ngIf="addDishForm.controls.type.errors.required">type is required</div>
            </div>
          </div>

          <div class="form-group">
            <select class="custom-select"
              formControlName="complex"
              [(ngModel)]="dish.complex"
              [ngClass]="{ 'is-invalid': addDishForm.controls.complex.invalid && addDishForm.controls.complex.errors}">

                <option value="">Will it be in complex menu</option>
                <option value="bussiness1">bussiness1</option>
                <option value="bussiness2">bussiness2</option>
                <option value="bussiness3">bussiness3</option>
            </select>
          </div>

          <div class="custom-file mb-3">
            <input type="file"
              (change)="addImage($event)"
              class="custom-file-input"
              id="img"
              formControlName="img"
              [ngClass]="{ 'is-invalid': addDishForm.controls.img.invalid && addDishForm.controls.img.errors}"
              disabled>

            <label class="custom-file-label" for="img">Choose the image for {{dish.name}}</label>
            <div *ngIf="addDishForm.controls.img.invalid && addDishForm.controls.img.errors" class="invalid-feedback">
              <div *ngIf="addDishForm.controls.img.errors.required">Image is required! Put the name!</div>
            </div>
          </div>
          <img [src]="dish.img || defaultImage" class="m-3 image-example" alt="Choose the image">

          <div class="form-group">
              <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>