@import 'styles.scss';

.slider-img {
    max-width: 57%;
}

@media (max-width: 600px) {
    .background-color {
        display: none;
    }
}

.background-color {
    background-color: $header-bg;
    margin: 30px;
}

// .carousel-item {
//     display: block !important;
//     visibility: hidden;
//     opacity: 0;
//     transition: visibility 0s, opacity 0.5s linear;
// }
// .carousel-item.active {
//     visibility: visible;
//     opacity: 1;
// }

.carousel-caption {
    height: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.another-position {
    flex-direction: row-reverse;
}

.content {
    color: black;
}

.background-div {
    height: 40vw;
}

// .carousel-item {
//     display: flex !important;
//     opacity: 0;
//     visibility: hidden;
//     transition: opacity 1.2s ease-in-out, visibility 1.2s;
//     z-index: -1;
//     position: absolute;
// }

// .carousel-item .active{
//     opacity: 1;
//     visibility: visible;
//     transition: opacity 1.2s ease-in-out, visibility 1.2s;
//     z-index: 10;
//     color: red;
//     height: 100px !important; 
// }
