.item__icon {
  display: flex;
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-size: 2rem;
}

.footer__wrapper {
  padding: 2rem;
}

.contacts-list__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
