<footer class="footer footer__wrapper">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <span class="item__icon"><i class="far fa-clock"></i></span>
          </div>
          <div class="col-10">
            <h5 class="time-list__header">Working hours:</h5>
            <ul class="time-list__wrapper">
              <li class="time-list__item">Mon-Fri: 9:00-22:00</li>
              <li class="time-list__item">Sat-Sun: 9:00-20:00</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2">
            <span class="item__icon"><i class="fas fa-phone-square"></i></span>
          </div>
          <div class="col-10">
            <h5 class="contacts-list__header">Our contacts:</h5>
            <ul class="contacts-list__wrapper">
              <li class="contacts-list__item list-item__email">catcompfl9@gmail.com</li>
              <li class="contacts-list__item list-item__phone">+8 800 555 35 35</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h5 class="social-networks__header">Join us at social networks:</h5>
        <div class="row">
          <div class="col-6 social-networks__instagram">
            <a href="#" class="item__icon">
              <i class="fab fa-instagram"></i>
            </a>  
          </div>
          <div class="col-6 social-networks__facebook item__icon">
            <a href="#" class="item__icon">
              <i class="fab fa-facebook"></i>
            </a>
          </div>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <span class="designet-text">&copy;HavkaDostavka: Designed by Havka dostavka</span>
      </div>
    </div>
  </div>
</footer>
