<div class="container">
  <div class="row d-flex flex-nowrap">
    <div class="col-3 m-2" *ngFor="let dish of dishes; let i=index">
      <div class="card h-100" *ngIf="i<limitItems">
        <img class="card-img-top"  src="{{dish.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{dish.title}}</h5>
          <div class="row d-flex text-center flex-nowrap">
            <div class="col-6">
              {{dish.price}}$
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
