<div class="container">
  <hr>
  <div class="inner-delivery">
    <div class="picture-container">
      <img src="https://s1.1zoom.ru/b5050/710/Ukraine_Houses_Lviv_507403_2560x1600.jpg">
    </div>
    <div class="delivery-content">
      <h3>Доставка</h3>
      <ul>
        <li>приблизний час очікування замовлення від 60 до 90 хв</li>
        <li>доставка лише у межах Львова</li>
        <li>мінімальна сума замовлення складає 150 грн</li>
        <li>сума вашого замовлення повідомляється менеджером</li>
        <li>вартість доставки складає 40 грн</li>
        <li>час доставки узгоджується з менеджером</li>
        <li>замовлення приймаються від 9:00 до 21:30</li>
        <li>починаючи від суми 300 грн доставка безкоштовна</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="contact-info">
    <ul>
      <li><img src="https://image.flaticon.com/icons/svg/660/660744.svg"> Години роботи: 9:00 - 22:00</li>
      <li><img src="https://www.flaticon.com/premium-icon/icons/svg/1151/1151415.svg"> email: havka_dostavka@gmail.com</li>
      <li><img src="https://image.flaticon.com/icons/svg/1027/1027613.svg"> тел.: +380 93 559 00 22</li>
    </ul>
  </div>
</div>
