@import 'styles.scss';

.menu-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item__image {
  height: $Imageheight;
}

.ingredients__list {
  font-family: $FontDefault;
  font-size: $FontLarge;
  transition: $TransitionMedium;
  padding: $PaddingX3;
}

.menu__item-hovered {
  opacity: $OpacityLarge;
  transition: $TransitionMedium;
}

.delete__button {
  right: 0;
  top: 0;
  z-index: 5;
}

.edit__button {
  left: 0;
  top: 0;
  z-index: 5;
}

