<div class="container">
  <div class="row d-flex">
    <div class="col-md-6 col-xl-3 my-2" *ngFor="let dish of dishes">
      <div class="card h-100">
        <img class="card-img-top menu-item__image"  src="{{dish.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center my-2">{{dish.title}}</h5>
          <div class="row d-flex text-center flex-nowrap my-4">
            <div class="col-6">
              {{dish.price}}$
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
