<div *ngIf="user.authState | async as authState; else showLogin" class=" d-flex flex-column justify-content-center align-items-center">
  <h1>Привіт {{ authState.displayName }}!</h1>
  <button class="btn" (click)="user.logout()">Вийти</button>
</div>
<ng-template #showLogin>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <button type="buton" class="btn" (click)="user.signInWithFacebook()">
      <i class="fab fa-facebook"></i>
      Увійти за допомогою Facebook
    </button>
    <button type="button" class="btn" (click)="user.signInWithGoogle()">
      <i class="fab fa-google"></i>
      Увійти за допомогою Google
    </button>
  </div>
</ng-template>