<div *ngIf="user.authState | async as authState">
    <h1>Hello {{ authState.displayName }}!</h1>
    <button (click)="user.logout()">Logout</button>
</div>
<div>
  <button type="buton" class="btn btn-block" (click)="user.signInWithFacebook()">
    <i class="fa fa-facebook" aria-hidden="true"></i> 
    Login with Facebook
  </button>
  <button type="button" class="btn btn-block" (click)="user.signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>
</div>