<div class="container">
  <h1 class="main-title text-center h4 m-4">Last news</h1>
  
  <div class="news row m-4 p-4" *ngFor="let currentNew of news">
    
    <div class="news-content col-sm-12 col-lg-6 text-center">
      <h2 class="news-title h5">{{currentNew.title}}</h2>
      <p class="news-description">{{currentNew.description}}</p>
      <p class="text-right text-muted">{{currentNew.time}}</p>
    </div>

    <div class="news-photo p-0 col-sm-12 col-lg-6 text-center">
      <img src="{{currentNew.photo}}" alt="news{{currentNew.id}}">
    </div>
    
    <hr>
  </div>

</div>