<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container" id="nav-container">
      <a class="navbar-brand" href="#" routerLink="/">
       <div class="logo">
        <span>Хавка</span>
        <p>доставка</p>
       </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto navbar-left">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/menu">Хавка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delivery">Доставка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/news">Новини</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tracking">Мапа</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us">Про нас</a>
          </li>
          <li *ngIf="user.isAdmin | async" class="nav-item">
            <a class="nav-link" routerLink="/administration">Адміністрування</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li *ngIf="user.authState | async as authState" class="nav-item">
            <a class="nav-link" routerLink="/login"><i class="fas fa-user"></i> {{ authState.displayName }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link cart" routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
          </li>
          <li *ngIf="!(user.authState | async)" class="nav-item">
            <a class="nav-link" routerLink="/login">Увійти</a>
          </li>
          <li *ngIf="user.authState | async" class="nav-item">
            <a class="nav-link logout" (click)="user.logout()">Вийти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>